/* App.css */
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.job-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.job-card {
  width: 300px;
  margin: 10px;
}
